@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  85% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-animation {
  animation: bounce 0.4s;
}

.size-6 path {
    transition: d 0.3s ease-in-out;
  }

  @keyframes fly-in {
    from {
      transform: translateY(-40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .fly-in-animation {
    animation: fly-in 0.22s ease-out forwards;
  }

 @keyframes fly-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(10px);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}


  .fly-out-animation {
    animation: fly-out 0.22s ease-out forwards;
  }