@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  85% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-animation {
  animation: bounce 0.4s;
}